body {
    /* unset browser default style */
    padding: 0;
    margin: 0;

    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        'Liberation Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 100vh;
}
